{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set items = [] %}
{% for version in params.versions | reverse %}
{% set versionTitle = version.version %}
{% if version.name %}
    {% set versionTitle = "<span>" + version.name + " (<span style='text-transform: uppercase'>" + version.version + "</span>) </span><span class='govuk-tag'>" ~ version.phase ~"</span>" %}
{% endif %}
    {% set item = {
        heading: {
            html: "<span style='display: flex; align-items: center; justify-content: space-between;'>" + versionTitle | safe + "</span>"
    },
    content: {
        html: "<p>" ~ version.notes ~"</p><p><a href='' class='govuk-button'>View version</a></p>"
    }
    } %}
    {% set items = (items.push(item), items) %}
{% endfor %}

{{ govukAccordion({
  id: "main-index-versions",
  items: items
}) }}